KOBO_BASE_URL=https://kf.kobotoolbox.org
KOBO_ASSET_UID=your_kobo_asset_uid
KOBO_TOKEN=your_private_project_token
KOBO_PAGE_SIZE=1000
WHAT3WORDS_API_KEY=your_what3words_api_key
WHAT3WORDS_LANGUAGE=en
